.orderDetailContainer {
    max-width: 92rem;
    margin: 0 auto;
}

.orderDetailHeader {
    margin-bottom: 2.4rem;
    .orderTitle {
        font-size: 2.5rem;
        margin-bottom: 0.8rem;
    }
    .orderStatus {
        color: red;
    }
    .orderDate {
        display: flex;
        justify-content: end;
    }
}

.infoSections {
    margin-bottom: 8rem;
}
.brand {
    color: #007bff;
}

.paymentFailed {
    color: red;
    margin-top: 0.8rem;
}

.productTable {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.productInfo {
    display: flex;
    align-items: flex-start;
}

.productImageContainer {
    width: 8rem;
    height: 8rem;
    margin-right: 1.6rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productDetails {
    flex: 1;
}

.productName {
    font-weight: bold;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.orderActionButtons {
    margin-top: 2.4rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.actionButtonCompleted {
    padding: 5px 10px;
    font-size: 8px;
    font-weight: 600;
}
.orderSummary {
    margin-top: 2.4rem;
    .summaryRow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.8rem;
    }
    .summaryDivider {
        margin: 1.6rem 0;
    }
}

.backButton {
    text-transform: none;
}

.actionButtons {
    display: flex;
    gap: 10px;
}

.priceCell {
    min-width: 8rem;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
