.discount-management {
  margin: 0 auto;
  padding: 2rem;
}

.title {
    padding-bottom: 2rem;
    color: #333;
}


.discount-table {
  margin-top: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 12rem;
  display: inline-block;

  &.active {
    background: linear-gradient(135deg, #4caf50 0%, hsl(123, 42%, 72%) 100%);
    color: white;
  }

  &.inactive {
    background: linear-gradient(135deg, #f0574c 0%, #f87371 100%);
    color: white;
  }
  &.upcoming {
    background: linear-gradient(135deg, var(--primary) 0%,#8fb5db 100%);
    color: white;
  }
}


.add-button {
  border-radius: 20px;
  text-transform: none;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}