.form {
    display: flex;
    flex-direction: column;
    display: block;
    width: 100%;
    .paper {
        padding: 2.4rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        height: 60rem;
        overflow: auto !important;
    }
}

.section-title {
    margin-bottom: 20px;
    color: #2c3e50;
    font-weight: 600;
}

.input {
    display: none;
}

.upload-label {
    display: inline-block;
    height: 17rem;
    cursor: pointer;
}

.upload-box {
    width: 12rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2rem dashed #3498db;
    border-radius: 1.2rem;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    margin-bottom: 1.2rem;

    &:hover {
        background-color: #e8f4fd;
        border-color: #2980b9;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        &:hover {
            background-color: #f8f9fa;
            border-color: #3498db;
        }
    }
}

.image-container {
    position: relative;
    width: 12rem;
    height: 17rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
    border-radius: 1.2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);

    &:hover .remove-button {
        opacity: 1;
        visibility: visible;
    }
    .thumbnail-icon {
        position: absolute;
        font-size: 2rem;
        left: 0.5rem;
        color: rgb(255 207 96);
    }
}

.remove-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
    background-color: rgba(46, 43, 43, 0.8);
    border-radius: 50%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: rgba(129, 115, 114, 0.8);
    }

    svg {
        font-size: 1.5rem;
        color: white;
    }
}

.upload-icon {
    font-size: 4.8rem;
    color: #3498db;
    margin-bottom: 1.6rem;
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-top: 1.6rem;
    flex-grow: 1;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1.62rem;
    margin-top: 3rem;

    .submit-button {
        background-color: var(--primary);
        color: white;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--hover-background-darker);
        }
    }

    .cancel-button {
        color: var(--primary);
        transition:
            background-color 0.3s ease,
            color 0.3s ease;

        &:hover {
            background-color: var(--hover-background-darker);
            color: white;
        }
    }
}

.description-container {
    .description-title {
        margin-top: 1rem;
        padding-left: 2rem;
        color: #2c3e50;
    }

    :global {
        .quill {
            border-radius: 1rem;
            box-shadow:
                0px 3px 3px -2px rgba(0, 0, 0, 0.2),
                0px 3px 4px 0px rgba(0, 0, 0, 0.14),
                0px 1px 8px 0px rgba(0, 0, 0, 0.12);
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.15);
            }
        }

        .ql-toolbar {
            border: 1px solid #e0e0e0 !important;
            // border-bottom: none !important;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            background-color: var(--white);
            padding: 1rem;

            .ql-formats {
                margin-right: 1.5rem;
            }

            button {
                width: 2.8rem;
                height: 2.8rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: #3498db;
                }

                &.ql-active {
                    color: var(--primary);
                }
            }
        }

        .ql-container {
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border: 1px solid #e0e0e0 !important;
            border-top: none !important;
            font-size: 1.4rem;
            max-height: 40rem;
            overflow: scroll;
            background-color: var(--white);

            .ql-editor {
                min-height: 25rem;
                padding: 1.5rem;
                p {
                    padding: 0;
                }
            }
        }

        .ql-tooltip {
            border-radius: 0.4rem;
            box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
        }
    }
}
