.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    .paper {
        padding: 2.4rem;
        border-radius: 1rem;
        // margin-bottom: 2rem;
        height: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
    }
}

.section-title {
    margin-bottom: 20px;
    color: #2c3e50;
    font-weight: 600;
}

// .description {
//     width: 100%;
//     height: 300px;
//     margin-top: 1.6rem;
//     padding: 1.2rem;
//     font-family: inherit;
//     font-size: 1.5rem;
//     border: 0.1rem solid #ced4da;
//     border-radius: 0.8rem;
//     resize: none;
//     transition: border-color 0.3s ease;
//     overflow-y: auto;

//     &:focus {
//         outline: none;
//         border-color: #3498db;
//         box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
//     }
// }

.input {
    display: none;
}

.upload-label {
    display: block;
    cursor: pointer;
}

.upload-box {
    width: 16rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2rem dashed #3498db;
    border-radius: 1.2rem;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    margin-bottom: 1.2rem;

    &:hover {
        background-color: #e8f4fd;
        border-color: #2980b9;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        &:hover {
            background-color: #f8f9fa;
            border-color: #3498db;
        }
    }
}

.image-container {
    position: relative;
    width: 16rem;
    height: 22rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
    border-radius: 1.2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);

    &:hover .remove-button {
        opacity: 1;
        visibility: visible;
    }
}

.remove-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
    background-color: rgba(46, 43, 43, 0.8);
    border-radius: 50%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: rgba(129, 115, 114, 0.8);
    }

    svg {
        font-size: 1.5rem;
        color: white;
    }
}

.upload-icon {
    font-size: 4.8rem;
    color: #3498db;
    margin-bottom: 1.6rem;
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-top: 1.6rem;
    flex-grow: 1;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1.62rem;
    margin-top: 3rem;

    .submit-button {
        background-color: var(--primary);
        color: white;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--hover-background-darker);
        }
    }

    .cancel-button {
        color: var(--primary);
        transition:
            background-color 0.3s ease,
            color 0.3s ease;

        &:hover {
            background-color: var(--hover-background-darker);
            color: white;
        }
    }
}

.description-container {
    .description-title {
        padding-left: 2rem;
        color: #2c3e50;
        margin-bottom: 1rem;
    }

    :global {
        .quill {
            border-radius: 1rem;
            box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.15);
            }
        }

        .ql-toolbar {
            border: 1px solid #e0e0e0 !important;
            border-bottom: none !important;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            background-color: #f8f9fa;
            padding: 1rem;

            .ql-formats {
                margin-right: 1.5rem;
            }

            button {
                width: 2.8rem;
                height: 2.8rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: #3498db;
                }

                &.ql-active {
                    color: #2980b9;
                }
            }
        }

        .ql-container {
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border: 1px solid #e0e0e0 !important;
            border-top: none !important;
            font-size: 1.6rem;

            .ql-editor {
                min-height: 25rem;
                padding: 1.5rem;

                &:focus {
                    outline: none;
                    box-shadow: inset 0 0 0 2px rgba(52, 152, 219, 0.2);
                }
            }
        }

        .ql-tooltip {
            border-radius: 0.4rem;
            box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
        }
    }
}
