.wrapper {
    width: 100%;
    padding: 1rem 0.5rem;
    h3 {
        font-weight: 600;
        font-size: 1.9rem;
    }
}
.analyst-wrapper {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;

    > div {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        border: 1px solid #cecece;
        border-radius: 1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1rem 1.5rem;
    }
    svg {
        font-size: 4rem;
        color: var(--primary);
    }
    .info {
        display: block;
        p {
            width: 100%;
            font-size: 1.5rem;
            text-wrap: nowrap;
        }
        .quantity {
            margin-left: 3rem;
            font-weight: 700;
            font-size: 3rem;
        }
    }
}

.income-chart,
.recent-order {
    h4 {
        font-size: 1.7rem;
        margin: 1rem 2rem;
    }
    > div {
        padding: 1rem;
        padding-top: 3rem;
        background-color: var(--white);
        border: 1px solid #cecece;
        border-radius: 1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

.recent-order {
    > div {
        padding: unset;
    }
}
