@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';
@import '~bootstrap/scss/bootstrap';
:root {
    --primary: #4791db;
    // --secondary: #326e51;
    --hover-background-darker: #046bd8;
    --hover-background-lighter: #dbecfd;

    --black: #000;
    --white: #fff;
    // --background-color: #f5fbf6;
    --font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-family);
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--black);
    overflow-y: overlay;
}

a {
    color: var(--black);
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters {
    border-radius: 0.5rem;
}
.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.Mui-selected {
    background-color: var(--hover-background-lighter);
}

.pswp__img {
    object-fit: contain !important;
}
.pswp__img--placeholder {
    opacity: 0 !important;
}