.wrapper {
    background-color: #f8f9fa;
    p {
        margin: 0;
        padding: 0.5rem 0;
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 15rem;
    border-bottom: 1px solid #e0e0e0;
    gap: 2rem;
    background-color: #fff;
    .logo {
        a {
            display: block;
            width: 15rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}
.cart, .user {
    span {
        color: #6c757d;
        cursor: pointer !important;
        transition: color 0.3s ease;
        background-color: #fff !important;
        &:hover {
            color: var(--hover-background-darker);
        }
    }
}
.container {
    display: flex;
    .nav-bar {
        background-color: #fff;
        flex-basis: 20%;
        width: 20%;
        border-right: 1px solid #e0e0e0;

        :global {
            .MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.Mui-selected.MuiListItemButton-root.MuiListItemButton-gutters.Mui-selected.css-1cp5hrx-MuiButtonBase-root-MuiListItemButton-root {
                border-radius: 0;
                border-right: 0.2rem solid var(--primary);
            }
        }
        .collapse-sub-item {
            margin-left: 3rem;
            background-color: #dbecfd5d;
        }
    }
    .content {
        width: 100%;
        padding: 2rem;
    }
}

.notifications-items {
    > a {
        width: 400px;
        display: block;
        flex: 1;
        text-overflow: clip;
        padding-right: 6rem;
        padding-left: .5rem;
        padding: 0.5rem;
    }
    padding: 0 !important;
    .icon {
        align-items: center;
        justify-content: center;
        min-width: auto;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
    }
    .notification-order-icon {
        color: #23c16b !important;
        background-color: rgba(35, 193, 106, 0/2);
    }
    .notification-voucher-icon {
        color: rgb(71, 145, 219) !important;
        background-color: rgba(71, 145, 219, 0.2);
    }

    .notification-comment-icon {
        color: rgb(60, 82 ,103) !important;
        background-color: rgba(60, 82, 103, 0.2);
    }

    .notification-content {
        padding: 0.5rem 0;
        font-size: 1.4rem;
        width: 100%;
        flex: 1 1;
        overflow: hidden;
        > p {
            margin: 0;
        }
        .notification-title {
            font-weight: 600;
            display: block;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
        }
        .notification-message {
            opacity: 0.8;
            height: 4.5rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: break-spaces;
        }
    }
}
