.container {
    max-width: 120rem;
    margin: 0 auto;
}

.heading {
    font-size: 2.8rem;
    margin-bottom: 3rem;
    color: #007bff;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.tab {
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: #555;
    border-bottom: 3px solid transparent;
    transition:
        border-color 0.3s,
        color 0.3s;
}

.tab.active {
    color: #007bff;
    border-bottom: 3px solid #007bff;
}
.searchSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
}

.searchInputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.searchInput {
    flex: 1;
    padding: 1rem;
    border: none;
    font-size: 1.4rem;
    outline: none;
}

.searchIcon {
    color: #808089;
    margin: 0 1rem;
}

.searchButton {
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: var(--primary);
    border-top-right-radius: 4px;
    &:hover {
        background-color: var(--hover-background-darker);
    }
    &:active {
        opacity: .8;
    }
}

.orderList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orderCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.orderHeader {
    margin-bottom: 1.5rem;
}

.orderStatus {
    font-weight: bold;
    color: #dc3545;
}

.orderDetails {
    margin-bottom: 2rem;
}

.productRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.productImage {
    width: 8rem;
    height: 8rem;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 4px;
}

.productQuantity {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0.2rem 0.6rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
}

.productInfo {
    flex-grow: 1;
    margin-left: 1.5rem;
}

.productName {
    font-size: 1.6rem;
    font-weight: 500;
}

.productStore {
    font-size: 1.4rem;
    color: #6c757d;
}

.productPrice {
    font-size: 1.6rem;
    font-weight: 700;
    color: #28a745;
}

.orderFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total {
    display: flex;
    justify-content: end;
    align-items: baseline;
    width: 100%;
    margin-bottom: 0.5rem;
}

.totalLabel {
    font-size: 1.6rem;
    color: #6c757d;
    margin-right: 1rem;
}

.totalAmount {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ff424e;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.actionButton {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.actionButton:hover {
    background-color: var(--hover-background-darker);
    color: #fff;
}
.statusIcon {
    opacity: 0.7;
    margin-right: 0.8rem;
    margin-bottom: 0.5rem;
    vertical-align: middle;
}
.orderStatus {
    border-radius: 4px;

    &.statusPending {
        color: #ffa500;
    }

    &.statusProcessing {
        color: #ffd700;
    }

    &.statusShipping,
    &.statusDelivered {
        color: #008000;
    }

    &.statusCancelled {
        color: #ff0000;
    }
}

.actionButton {
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: transparent;

    &.payAgainButton {
        color: #008000;
        border: 1px solid #008000;
        &:hover {
            background-color: #008000;
            color: white;
        }
    }

    &.receivedButton,
    &.reviewButton {
        color: #ffa500;
        border: 1px solid #ffa500;
        &:hover {
            background-color: #ffa500;
            color: white;
        }
    }

    &:not(.payAgainButton):not(.receivedButton):not(.reviewButton) {
        color: #007bff;
        border: 1px solid #007bff;
        &:hover {
            background-color: var(--hover-background-darker);
            color: white;
        }
    }
}

.actionButton {
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: transparent;

    &.payAgainButton {
        color: #008000;
        border: 1px solid #008000;
        &:hover {
            background-color: #008000;
            color: white;
        }
    }

    &.receivedButton,
    &.reviewButton {
        color: #ee4d2d;
        border: 1px solid #ee4d2d;
        &:hover {
            background-color: #ee4d2d;
            color: white;
        }
    }

    &:not(.payAgainButton):not(.receivedButton):not(.reviewButton) {
        color: #007bff;
        border: 1px solid #007bff;
        &:hover {
            background-color: var(--hover-background-darker);
            color: white;
        }
    }
}

.actions {
    display: flex;
    gap: 0.8rem;
    padding-bottom: 1rem;
}
