.wrapper {
    margin-bottom: 5rem;
}
.carouselContainer {
    max-width: 100%;
    height: 60rem;
    margin: 0rem auto;

    img {
        height: 550px !important;
        object-fit: fill;
    }
    .carouselCaptionCustom {
        padding: 2rem;
        border-radius: 1rem;
        button {
            margin-top: 1rem;
        }
    }
}
.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;

    h3 {
        font-size: 2rem;
        color: #333437;
        font-weight: 800;
        text-transform: uppercase;
    }
    a {
        color: #666;
        align-content: center;
        svg {
            margin-left: 0.5rem;
            transform: translateY(0.2rem);
        }
    }
}

.bestSelling {
    .productContainer {
        .productBestSelling {
            display: block;
            width: 100%;
            flex-basis: 100%;
        }
        gap: 1.8rem;
        :global {
            .slick-slide {
                padding: 0 10px;
            }

            .slick-list {
                margin: 0 -10px;
            }
        }
    }
}

.lastPushlishSection {
    margin: 6rem 0rem;
    padding: 3rem 0rem;
    border-top: 1px solid #ececec;
    .productContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}
