.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50.3rem;
    margin: 0 auto;
}

.image {
    width: 100.5rem;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    .detail {
        h1 {
            padding-bottom: 1rem;
        }
        padding-top: 5rem;
        max-width: 80rem;
        margin-bottom: 2rem;
        text-align: justify;
    }
}
