<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change email</title>
</head>
<body style="width: 70%; margin: 0 auto">
<h1>Thay đổi email</h1>
<h4>Xin chào: <span th:text="${user.fullName}"></span></h4>
<p>Chúng tôi đã ghi nhận rằng bạn đã thay đổi email tài khoản của bạn.</p>
<p>Nếu đó không phải bạn vui lòng liên hệ bộ phận hỗ trợ khách hàng để được giúp đỡ.</p>
<p>Hotline: 098765431</p>
<b>Xin cảm ơn</b>
<h2 style="text-align: right">Book Bazaar</h2>
</body>
</html>