<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reset password</title>
</head>
<body style="width: 70%; margin: 0 auto">
<h1>Reset your password</h1>
<h4>Dear: <span th:text="${user.username}"></span></h4>
<p>We understand your password has been lost. Sorry for that!</p>
<p>But you can follow this link to reset your password:</p>
<a th:href="${clientUrl} + '/setnewpassword?activeKey=' + ${user.verifyKey}">Click here to reset your password</a>
<b>Xin cảm ơn</b>
<h2 style="text-align: right">Book Bazaar</h2></body>
</html>