<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Thông tin tài khoản - BookBazaar</title>
</head>
<body style="width: 70%; margin: 0 auto">
<h1>Xin chào <span th:text="${user.fullName}"></span></h1>
<p>Chào mừng đến với Book Bazaar! Dưới đây là thông tin tài khoản của bạn:</p>
<p><b>Email:</b> <span th:text="${user.email}"></span></p>
<p><b>Mật khẩu mặc định:</b> <span style="color: #4CAF50" th:text="${newPassword}"></span></p>
<p>Vui lòng đăng nhập và thay đổi mật khẩu của bạn ngay khi có thể.</p>
<b>Xin cảm ơn,</b>
<h2 style="text-align: right">Book Bazaar</h2>
</body>
</html>
