<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Thông báo mật khẩu</title>
</head>
<body style="width: 70%; margin: 0 auto">
<h1>Xin chào <span th:text="${user.fullName}"></span></h1>
<p>Chào mừng đến với Book Bazaar, mật khẩu mặc định của bạn là:</p>
<h3 style="color: #4CAF50"><span th:text="${newPassword}"></span></h3>
<p>Vui lòng đăng nhập và thay đổi mật khẩu của bạn ngay khi có thể.</p>
<b>Xin cảm ơn</b>
<h2 style="text-align: right">Book Bazaar</h2>
</body>
</html>
