<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Hoàn thành đơn hàng</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .thumbnail-img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    </style>
</head>
<body style="width: 70%; margin: 0 auto; font-family: Arial, sans-serif;">
<h1 style="color: #5cb85c;">Đơn hàng đã hoàn tất</h1>
<h3>Thông tin đơn hàng: <span th:text="${orderCode}"></span></h3>
<p>Ngày đặt hàng: <span th:text="${#temporals.format(orderDate, 'dd/MM/yyyy')}"></span></p>
<h4>Địa chỉ giao hàng:</h4>
<p>
    <strong th:text="${ordername}"></strong><br>
    <span th:text="${fullAddress1}"></span><br>
    <span th:text="${orderBuyerPhoneNum}"></span><br>
</p>
<h4>Thông tin đơn hàng:</h4>
<table>
    <thead>
    <tr>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Giá</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td>
            <div style="display: flex; align-items: center;">
                <img th:src="${product.thumbnailImage}" class="thumbnail-img" alt="Thumbnail" style="margin-right: 10px;" />
                <span th:text="${product.productName}"></span>
            </div>
        </td>
        <td th:text="${product.quantity}"></td>
        <td class="price" th:text="${product.productPrice}"></td>
    </tr>
    </tbody>
</table>
<div style="text-align: right;">
    <p>Tạm tính: <span th:text="${subTotal} "></span></p>
    <p>Phí vận chuyển: <span th:text="${shippingFee} "></span></p>
    <p>Giảm giá từ deal: <span th:text="${discount} "></span></p>
    <p>Giảm giá từ khuyến mãi: <span th:text="${voucher} "></span></p>
    <h3>Tổng giá trị đơn hàng: <span th:text="${totalAmount} "></span></h3>
</div>
<p>Chúng tôi hy vọng bạn hài lòng với sản phẩm. Nếu có bất kỳ thắc mắc hoặc góp ý nào, vui lòng liên hệ:</p>
<p>Email: support@bookbazaar.com | Điện thoại: 0123 456 789</p>
<p style="text-align: center;">Hẹn gặp lại bạn trong các lần mua sắm tiếp theo!</p>
<h2 style="text-align: center;">Book Bazaar</h2>
</body>
</html>
