<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đơn hàng bị hủy </title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .thumbnail-img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    </style>
</head>
<body style="width: 70%; margin: 0 auto; font-family: Arial, sans-serif;">
<h1 style="color: #e74c3c;">Thông báo hủy đơn hàng</h1>
<p style="font-size: 16px;">Chúng tôi rất tiếc thông báo rằng đơn hàng của bạn đã bị hủy. Quý khách vui lòng thực hiện lại hoặc chuyển sang hình thức thanh toán khác phù hợp hơn.
    Đơn hàng của bạn bị hủy khi chưa thanh toán trong 3 giờ nếu chưa nhận được thanh toán từ quý khách.</p>
<div style="text-align: center; margin: 20px 0;">
    <a th:href="${cancelLink}"
       style="background-color: #e74c3c; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
        Thanh toán lại ngay
    </a>
</div>
<h3>Thông tin đơn hàng: <span th:text="${orderCode}"></span></h3>
<p>Ngày đặt hàng: <span th:text="${#temporals.format(orderDate, 'dd/MM/yyyy')}"></span></p>
<h4>Địa chỉ giao hàng:</h4>
<p>
    <strong th:text="${ordername}"></strong><br>
    <span th:text="${fullAddress1}"></span><br>
    <span th:text="${orderBuyerPhoneNum}"></span><br>
</p>
<strong>Trạng thái đơn hàng:</strong> <span style="color: #e74c3c;">Hủy đơn hàng</span>
</p>
<h4>Thông tin đơn hàng:</h4>
<p>
<table>
    <thead>
    <tr>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Giá</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td>
            <div style="display: flex; align-items: center;">
                <img th:src="${product.thumbnailImage}" class="thumbnail-img" alt="Thumbnail" style="margin-right: 10px;" />
                <span th:text="${product.productName}"></span>
            </div>
        </td>
        <td th:text="${product.quantity}"></td>
        <td class="price" th:text="${product.productPrice}"></td>
    </tr>
    </tbody>
</table>
<div style="text-align: right;">
    <p>Tạm tính: <span th:text="${subTotal} "></span></p>
    <p>Phí vận chuyển: <span th:text="${shippingFee} "></span></p>
    <p>Giảm giá từ deal: <span th:text="${discount} "></span></p>
    <p>Giảm giá từ khuyến mãi: <span th:text="${voucher} "></span></p>
    <h3>Tổng giá trị đơn hàng: <span th:text="${totalAmount} "></span></h3>
</div>
<div style="text-align: center; margin-top: 20px; font-size: 12px;">
    <p>Chúng tôi hy vọng bạn sẽ tiếp tục ủng hộ Book Bazaar trong những lần mua sắm tiếp theo.</p>
    <p><strong>Book Bazaar</strong></p>
</div>
</body>
</html>
