<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Đơn hàng mới</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .thumbnail-img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  </style>
</head>
<body style="width: 70%; margin: 0 auto; font-family: Arial, sans-serif;">
<h1 style="color: #005bea;">Đơn hàng mới</h1>
<div style="text-align: center; margin: 20px 0;">
  <a href="order_tracking_link_here"
     style="background-color: #005bea; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
    Xác nhận đơn hàng
  </a>
</div>
<h3>Thông tin đơn hàng: <span th:text="${orderCode}"></span></h3>
<p>Ngày đặt hàng: <span th:text="${#temporals.format(orderDate, 'dd/MM/yyyy')}"></span></p>
<h4>Thông tin người dùng:</h4>
<p>
  <strong th:text="${user.fullName}"></strong><br>
  <span th:text="${user.address.getAddressDetail()} + ', ' + ${user.address.district.label} + ', ' + ${user.address.commune.label} + ', ' + ${user.address.province.label}"></span><br>
  <span th:text="${user.phoneNum}"></span><br>
  <span th:text="${user.email}"></span>
</p>
<h4>Địa chỉ giao hàng:</h4>
<p>
  <strong th:text="${user.fullName}"></strong><br>
  <span th:text="${user.address.getAddressDetail()} + ', ' + ${user.address.district.label} + ', ' + ${user.address.commune.label} + ', ' + ${user.address.province.label}"></span><br>
  <span th:text="${user.phoneNum}"></span><br>
  <span th:text="${user.email}"></span>
</p>
<table>
  <thead>
  <tr>
    <th>Sản phẩm</th>
    <th>Số lượng</th>
    <th>Giá</th>
    <th>Ảnh</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${productList}">
    <td th:text="${product.productName}"></td>
    <td th:text="${product.quantity}"></td>
    <td th:text="${product.productPrice} + ' VND'"></td>
    <td>
      <img th:src="${product.thumbnailImage}" class="thumbnail-img" alt="Thumbnail"/>
    </td>
  </tr>
  </tbody>
</table>
<div style="text-align: right;">
  <p>Tạm tính: <span th:text="${subTotal} + ' VND'"></span></p>
  <p>Phí vận chuyển: <span th:text="${shippingFee} + ' VND'"></span></p>
  <p>Khuyến mãi: <span th:text="${discount} + ' VND'"></span></p>
  <h3>Tổng giá trị đơn hàng: <span th:text="${totalAmount} + ' VND'"></span></h3>
  <p>Phương thức thanh toán: <span th:text="${order.paymentType}"></span></p>
  <p>Trạng thái: <strong>Thanh toán thành công</strong></p>
  <b>Xin lưu ý:</b> Hệ thống đã cập nhật trạng thái đơn hàng và hoàn tất thanh toán cho khách hàng.
</div>
  <b>Xin lưu ý:</b> Hệ thống đã cập nhật trạng thái đơn hàng và hoàn tất thanh toán cho khách hàng.
<h2 style="text-align: center">Book Bazaar</h2>
</body>
</html>