<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tiêu đề</title>
</head>
<body style="width: 70%; margin: 0 auto">
<h1>Xin chào <span th:text="${user.fullName}"></span></h1>
<p>Chào mừng đến với Book Bazaar</p>
<p>Vui lòng nhấn vào liên kết này để kích hoạt tài khoản của bạn, cảm ơn!</p>
<a th:href="${clientUrl} + '/verify/redirect?activeKey=' + ${user.verifyKey}">Nhấn vào đây để kích hoạt</a>
<b>Xin cảm ơn</b>
<h2 style="text-align: right">Book Bazaar</h2>
</body>
</html>